<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @port.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @port.type %>
</p>

<%= link_to 'Edit', edit_port_path(@port) %> |
<%= link_to 'Back', ports_path %>
